body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
}
header {
    width: 99.5%;
    height: 8vmin;
    top: 0vh;
    left: 0vh;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 0.5vh solid #ffffff;
    z-index: 2;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    
}
main{
    display: flex;
    flex-direction: column;
    
}
.imagem{
    width: 100px;
    height: 100px;
}
table{
    width: 99.5%;
    text-align: center;

}
